*{
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: Arial;
}

body{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 3cm 19cm;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "sidebar navbar"
    "sidebar main"
    "footer footer"
}

nav{
    grid-area: navbar;
    color: black;
    padding: 1rem;
    position: relative;
    background-color: white;
}

aside{ 
    display: grid;
    top: 0;
    min-height: 100vh;
    position: sticky;
    align-self: start;
    grid-area: sidebar;
    color: white;
    background-color: rgb(255, 255, 255);
    z-index: -1;
}

main{
    grid-area: main;
    margin: 1rem;
}

footer{
    grid-area: footer;
    color: white;
    background-color: rgb(255, 255, 255);
    padding: 1rem;
}

h1{
    font-size: xx-large;
    text-align: center;
}

#forside{
    display: grid;
}

#Liste{
    margin-top: 10%;
    text-align: center;
}

.Bookmarks,.Bookmarks:visited{
    z-index: 10;
    color: white;
}

li{
    font-size: x-large;
    padding-top: 1rem;
}

h2{
    font-size: x-large;
    padding-bottom: 1rem;
}

.sidetal{
    padding-top: 1rem;
    float: right;
}

